// Variable classes 
$font-baloo: 'Baloo Tamma 2', cursive;
$font-raleway: 'Raleway', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$color-primary: #003859;
$color-secondary: #00A5c4;
$color-yellow: #FFD289;